<!-- <pro-header [title]="l('Users')">
</pro-header> -->
<nz-card [nzBordered]="false">
    <form nz-form (ngSubmit)="refresh()" nzLayout="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">

            </div>
            <div nz-col [nzSpan]="8" class="mb-md">

            </div>

            <div nz-col [nzSpan]="8" class="mb-md" [class.text-right]="'true'">
                <!-- <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="refresh()" [nzSize]="'large'" class="mx-sm">重置</button> -->
                <button nz-button (click)="create()" [nzType]="'primary'" [nzSize]="'large'">
                    <i class="anticon anticon-plus"></i>
                    <span>{{('Create')}}</span>
                </button>
            </div>
        </div>
    </form>
    <nz-table #nzTable #rowSelectionTable [nzFrontPagination]="false" [nzData]="dataItems" [nzTotal]="totalItems" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzLoading]="loading"
    [nzShowSizeChanger]="true" (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()">
        <thead>
            <tr>
                <th>
                    <span>{{('UserName')}}</span>
                </th>
                <th>
                    <span>{{('FullName')}}</span>
                </th>
                <th>
                    <span>{{('EmailAddress')}}</span>
                </th>
                <th>
                    <span>{{('IsActive')}}</span>
                </th>
                <th>
                    <span>{{('Actions')}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nzTable.data">
                <td>{{item.employee_Name}}</td>
                <td>{{item.employee_Name}}</td>
                <td>{{item.email}}</td>
                <td>
                    <nz-badge *ngIf="item.isvalid" [nzStatus]="'success'" [nzText]="('Active')"></nz-badge>
                    <nz-badge *ngIf="!item.isvalid" [nzStatus]="'default'" [nzText]="('UnActive')"></nz-badge>
                </td>
                <td>
                    <a (click)="edit(item)">{{('Edit')}}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="delete(item)">{{('Delete')}}</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
